<form action="/upload" method="post">
    <div><label for="title">Title</label>
        <input type="text" name="title" id="title"></div>
        <button type="submit">upload</button>
        
</form>